In [1]:
print("some text")

some text

# This is a Heading 1

In [1]:
print("hey there")

hey there

In [3]:
from time import sleep
print("sleeping")
sleep(3)
print("done sleeping")

sleeping
done sleeping

## This is a Heading 2

In [6]:
import pandas as pd
df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
sleep(2)
display(df)
sleep(0.5)
display(df)
sleep(0.5)
display(df)
sleep(0.5)
display(df)

   a  b
0  1  4
1  2  5
2  3  6

   a  b
0  1  4
1  2  5
2  3  6

   a  b
0  1  4
1  2  5
2  3  6

   a  b
0  1  4
1  2  5
2  3  6

In [1]:
print("printing")

printing

### This is a heading 3

In [2]:
print("some more code")

some more code

In [3]:
print("some more more code")

some more more code

### This is another heading 3

This is a markdown cell.

# This is another Heading 1

<!-- generate some markdown text  -->
---

Markdown text here

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna molli. 

- This is a list item
- This is another list item
- This is a third list item